<div class="modal-header">
    <h3 class="modal-title">{{ creating ? 'Create' : 'Edit' }} task force</h3>
</div>
<div class="modal-body">
    <form name="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3">
                <label class="control-label">Name</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" type="text" maxlength="50" ng-model="taskforce.name" required>
            </div>
        </div>
        <div class="form-group" ng-if="creating">
            <div class="col-sm-3">
                <label class="control-label">Milestone</label>
            </div>
            <div class="col-sm-9">
                <select class="form-control" ng-model="taskforce.milestone"
                    ng-options="(milestone.name+' '+milestone.end_date) for milestone in milestones"
                    ng-disabled="hasParent" required>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="update(form)" ng-disabled="form.$invalid" ng-if="!creating">Update</button>
    <button class="btn btn-primary" ng-click="create(form)" ng-disabled="form.$invalid" ng-if="creating">Create</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>