{% extends 'webapp/page.html' %}

{% block pageTitle %} &raquo; Change password{% endblock %}

{% block pageContent %}
    <div class="container-fluid">
        <div class="col-md-6 col-lg-4">
            <h2>Password reset successful</h2>
            <p>We've emailed you instructions for setting your password. You should be receiving them shortly.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            <p>
                <a href="{% url 'webapp:login' %}">Return to login page</a>
            </p>
        </div>
    </div>
{% endblock %}
