{% load staticfiles %}<!DOCTYPE html>
<html lang="en"{% block htmlAttr %}{% endblock %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>My2009{% block pageTitle %}{% endblock %}</title>

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">

        <link href="{% static 'css/app.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>

        <script src="{% static 'js/fullcalendar-2.1.1/lib/moment.min.js' %}"></script>
        <script src="{% static 'js/fullcalendar-2.1.1/fullcalendar.min.js' %}"></script>
        <link href="{% static 'js/fullcalendar-2.1.1/fullcalendar.min.css' %}" rel="stylesheet">
        
        <script src="{% static 'js/angular-1.2.19.min.js' %}"></script>
        <script src="{% static 'js/angular-cookies-1.2.19.min.js' %}"></script>
        <script src="{% static 'js/angular-ui-router-0.2.10.min.js' %}"></script>
        <script src="{% static 'js/ui-bootstrap-tpls-0.10.0.min.js' %}"></script>
        <script src="{% static 'js/calendar.js' %}"></script>
        <script src="{% static 'js/angular-file-upload-1.1.1/angular-file-upload.min.js' %}"></script>

        {% block pageScriptHead %}{% endblock %}
    </head>

    <body{% block bodyAttr %}{% endblock %}>
        {% block pageContent %}{% endblock %}
    </body>
</html>