{% extends 'webapp/page.html' %}

{% block pageTitle %} &raquo; Reset password{% endblock %}

{% block pageContent %}
    <div class="container-fluid">
        <div class="col-md-6 col-lg-4">
            <h2>Reset password</h2>
            
            {% if validlink %}
                <p>Please enter your new password.</p>
                <form action="{{ request.path }}" method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
                        <label class="control-label" for="id_new_password1">New password</label>
                        <input class="form-control" id="id_new_password1" name="new_password1" type="password" required>
                    </div>
                    <div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
                        <label class="control-label" for="id_new_password2">Confirm new password</label>
                        <input class="form-control" id="id_new_password2" name="new_password2" type="password" required>
                    </div>

                    <button class="btn btn-primary">Change password</button>
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
            {% endif %}

            <p><br>
                <a href="{% url 'webapp:login' %}">Return to login page</a>
            </p>
        </div>
    </div>
{% endblock %}